*,
*::before,
*::after {
  box-sizing: border-box;
}
/*  Establece border-box a todos los elementos

Es un buen estándar moderno

Mantiene todo bien alineado */

/*Animaciones pag */
/* Oculta scroll y contenido al principio */
body.oculto {
  overflow: hidden;
}

.pantalla-carga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1; /* visible por defecto */
  /* no le ponemos transición aquí */
  transition: opacity 1s ease;
  opacity: 1;
  pointer-events: auto;
}

.pantalla-carga.oculto {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease; /* transición solo cuando ocultamos */
}

.logo-carga {
  width: 350px;
  animation: zoomIn 4s ease forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Contenido principal (opcional animación de entrada) */
#contenido {
  opacity: 0;
  transition: opacity 1s ease;
}

#contenido.visible {
  opacity: 1;
}

.pantalla-blanca {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 3s ease;
  z-index: 1000;
}

.pantalla-blanca.mostrar {
  opacity: 1;
}

/*NAVBAR*/

nav {
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #2b2b2b;
  padding: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra el contenido horizontalmente */
  width: 100vw; /* Define el ancho del navbar */
  margin-top: -15px;
  border-bottom: 2px solid #ceb37e;
  transition: 400ms;

  ul {
    list-style: none;
    display: flex;
    gap: 7rem;
    margin: 0;
    padding: 0;

    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      font-weight: 200;
      transition: background-color 0.3s ease, transform 0.2s ease;
      transition: 400ms;
      border-radius: 50px;
      padding: 10px;

      &:hover {
        color: #ceb37e;
        transition: 400ms;
        background-color: #262121;
        border-radius: 50px;
        padding: 15px;
        transform: translateY(-2px);
      }
      &:active {
        color: white;
        background-color: #262121;
        transform: scale(0.98);
      }
    }
  }
}

#branding {
  background-color: #ceb37e;
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin-left: -20px;

  a {
    position: absolute;
    top: 80px;
    left: 50px;
    z-index: 2;
    line-height: 1.1;
    color: #2b2b2b;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: 400ms;

          &:hover{
          color: white;
          transform: scale(1.1);
    }
  }

}

.discord {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;

  padding: 1.75em 1.5em;
  background: linear-gradient(to right, #5865f2, #404eed);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  font-family: sans-serif;

  &:hover {
    transform: scale(1.15);
  }
}

.hero {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Asegura que el texto esté alineado */
  height: 100vh; /* Mantiene la sección ocupando toda la pantalla */
  position: relative;

  h1 {
    font-size: 3.2rem;
    margin: 0; /* Elimina márgenes predeterminados */
    z-index: 2; /* Asegura que el texto quede por encima de la imagen */
    line-height: 1.1;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin: 0; /* Elimina márgenes predeterminados */
    z-index: 2; /* Asegura que el texto quede por encima de la imagen */
    color: #ceb37e;
    max-width: 700px;
  }
}

.hero_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.overlay_contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  z-index: 2;

    label {
  display: block;
  color: white;
  margin-bottom: 5px;
  text-align: left;
}

}

.input_contact {
  width: 250px;
  padding: 20px;
  background-color: #ceb37e;
  border-radius: 15px;
  margin-bottom: 20px;

  &::placeholder {
  color: rgba(0, 0, 0, 0.269);
  font-size: 1rem;
}
}


.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    transition: 0.3s;

    &:hover {
      color: #ceb37e;
    }
  }
}

.section_cards {
  width: 100vw;
  z-index: 2;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 100px;
  cursor: pointer;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  width: 100%;
}

.column_team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
  border-right: 1px solid #666262; /* Borde gris a la derecha */
  border-bottom: 1px solid #666262; /* Borde gris abajo */
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  transition: 500ms;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;

  p {
  margin-top: -15px;
  color: white;
  max-width: 300px;
  align-items: center;
}

    h2 {
      color: #ceb37e;
    }

    img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  border-radius: 100%;
  object-fit: cover; /* Recorta la imagen sin distorsionarla */
}

    &:hover {
  background-color: #2b2b2b;
  transform: scale(1.1);
  transition: 500ms;
}
}

.boton_know {
        display: inline-block; /* Permite que el botón respete el contenido */
        margin-top: 25px;
        background-color: #ceb37e; /* Color azul */
        color: black; /* Texto en blanco */
        padding: 12px 44px; /* Espaciado interno */
        font-size: 18px;
        text-align: center;
        text-decoration: none; /* Elimina subrayado */
        border-radius: 50px; /* Bordes redondeados */
        transition: background-color 0.3s ease, transform 0.2s ease;

          &:hover {
              background-color: white;
              color: black;
              transform: scale(1.05);
          } 
}

#boton_know_2 {
  display: inline-block; /* Permite que el botón respete el contenido */
  margin-top: 25px;
  background-color: #ceb37e; /* Color azul */
  color: black; /* Texto en blanco */
  padding: 12px 44px; /* Espaciado interno */
  font-size: 18px;
  text-align: center;
  text-decoration: none; /* Elimina subrayado */
  border-radius: 50px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: 400ms;
  z-index: 2;
  /* animation: rotate 7s linear infinite; */

   &:hover {
  background-color: white; /* Azul más oscuro */
  transform: scale(1.05); /* Leve aumento de tamaño */
  color: #2b2b2b;
}
}

/* rotamos 360º el boton para que de vueltas */

/* @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
*/

.boton_know_3 {
  display: inline-block; /* Permite que el botón respete el contenido */
  margin-top: 25px;
  background-color: #ceb37e; /* Color azul */
  color: black; /* Texto en blanco */
  padding: 12px 44px; /* Espaciado interno */
  font-size: 18px;
  text-align: center;
  text-decoration: none; /* Elimina subrayado */
  border-radius: 50px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 2;

    &:hover {
    background-color: white; /* Azul más oscuro */
    transform: scale(1.05); /* Leve aumento de tamaño */
    color: #2b2b2b;
}
}

.box_h2 {
  position: absolute;
  top: 80px;
  left: 50px;
  z-index: 2;
  line-height: 1.1;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
.black_box_div {
  background-color: #ceb37e;
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.nav_link {
  display: inline-block;
  padding: 10px 40px;
  background-color: #262121;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 40px;
  margin-bottom: 40px;

    &:hover {
  background-color: #262121;
  transform: translateY(-2px);
}

  &:active {
  background-color: #262121;
  transform: scale(0.98);
}
}


.nav_link_2 {
  display: inline-block;
  padding: 10px 40px;
  background-color: #262121;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 20px;

      &:hover {
      background-color: #262121;
      transform: translateY(-2px);
}

      &:active {
      background-color: #262121;
      transform: scale(0.98);
}
}

.map {
  z-index: 3;
  margin-top: 50px;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #ceb37e;
  -webkit-box-shadow: 2px 2px 4px 0px #ceb37e;
  box-shadow: 2px 2px 4px 0px #ceb37e;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  background-color: #ceb37e;
  border-radius: 50px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background: linear-gradient(45deg, #d6d4a0, #ceb37e);
  color: #ceb37e;
}

.main-player {
  background: #ceb37e;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
}

h2,
h1 {
  color: white;
  position: relative;
  z-index: 3;
}

body {
  font-family: "Poppins";
  background-color: #2b2b2b;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  width: 100vw; /* Asegura que no haya exceso de ancho */
}

html {
  scroll-behavior: smooth;
}

.contact {
  padding-top: 250px;
  padding-bottom: 150px;
}